body {
	 background:url(img/background.png) no-repeat center center fixed rgba(255,0,0,0.5);
}

#title_part {
	margin: 60px auto;
}
h1{
	font-size: 200%;
	text-align: center;
}

#content_wrap{
	width: 1000px;
	margin: 20px auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#nav-tab {
	margin-bottom: 20px;
}

#magician_info_nav {
	margin-bottom: 20px;
}

#magician_img {
	float: left;
	width: 26%;
	margin-left: 80px;
}

#magician_info_table {
	width: 55%;
	float: right;
	margin-right: 40px;
}

#update_delete_card{
	float: left;
	width: 25%;
	margin-right: 20px;
}

#magic_edit_card {
	float: left;
	width: 25%;
	margin-right: 20px;
}

#ingredient_new_card {
	float: left;
	width: 25%;
}

#belongto_magicfirm_info_nav {
	margin-bottom: 20px;
}

#magicfirm_img {
	float: left;
	width: 34%;
	margin-left: 20px;
	margin-top: 10px;
}

#magicfirm_info_table{
	float: right;
	width: 60%;
}

#other_magicfirm_member_nav {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

#magician_info_nav2 {
	width:100%;
	float:left;
	margin-bottom: 20px;
}

#created_magic_nav {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.magic_input {
	width: 80px;
}

.magic_name_input {
	width: 120px;
}

.magic_class_input {
	width: 40px;
}

.search_block {
	width: 100%;
	margin-bottom: 20px;
}

#created_magic_ingredient_nav {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#loginout_part {
	margin-top : 10px;
	margin-left : 875px;
}
